html,body {
	margin: 0;
}
.HeadTitle {
	display: flex;
	height: 200px;
	font-size: 30px;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: rgb(23, 36, 99);
	color: white;
}
.HeadInfo {
	text-align: center;
}
.Info {
	text-align: center;
}
.Item {
	display: inline-block;
	width: 100px;
	height: 35px;
}
.LongWordItem {
	display: inline-block;
	width: 150px;
	height: 35px;
}
.Msg {
	display: flex;
	text-align: center;
	font-size: 20px;
	height: 250px;
	justify-content: center;
	align-items: center;
}
.Link{
	text-align: center;
}